{% extends 'base.html.twig' %}
{% block title %}Page détail{% endblock %}

{% block body %}
<br>
<h1>Détail des produit</h1>
<br>
 <div class="">
                <div class="card-body">
                Notre Collection Ballotin a été conçue et imaginée par le célèbre designer Gérard Caron. Simple et pratique tout en étant élégante et préservant idéalement les saveurs des bijoux de patisseries qu'elle renferme, cette Collection Ballotin est devenue l'un des contenants les plus appréciés par nos gourmets.
                </div>
              </div>
              <div class="container">
                <div class="row g-2">
                  <div class="col-3">
                  
                    <div class="p-3 border bg-light"> <img src="image/baklawa-fekia.jpg"><p class="order">baklawa-fekia</p></div>
                   
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/boulette-noisette.jpg"><p>boulette-noisette</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/samsa-460g.jpg"><p>samsa</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/boulette-noisette.jpg"><p>boulette-noisette</p></div>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/boulette-orange.jpg"><p>boulette-orange</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/boulette-bey-ama.jpg"><p>boulette-bey-ama</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/barquet.jpg"><p>barquet</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/kaak-anbar.jpg"><p>kaak-anbar</p></div>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/fleur-d-amande.jpg"><p>fleur-d-amande</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"><img src="image/bryouette-amande.jpg"><p>bryouette-amande</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"><img src="image/mlabes-amande.jpg"><p>mlabes-amande</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"><img src="image/crousthe-amande.jpg"><p>crousthe-amande</p></div>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/tajin-citron.jpg"><p>tajin-citron</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/boulette-noisette.jpg"> <p>boulette-noisette</p></div>
                   
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/jasmin-pistache-500g.jpg"><p>jasmin-pistache</p></div>
                  </div>
                  <div class="col-3">
                    <div class="p-3 border bg-light"> <img src="image/baklawa-fekia.jpg">    <p>baklawa-fekia</p></div>
                    
                  </div>
                </div>
              </div>
             <div class="">
                <div class="card-body">
                  Ballotin mauve 25 pièces
                  Le parfait petit cadeau d'attention de Masmoudi, découvrez un assortiment de pâtisserie orientale 
                </div>
              </div>
              
              <footer>
                <div class="reassurance-wrapper bg-accent bg-reassurance">
                    <div class="reassurance w_layout">
                        <div class="reassurance-bloc">
                            <a href='/Index/port'>
                                <div class="reassurance-bloc_icon">
                                    <span class="icon_svg"><img src="https://accessoires-informatiques.com/Public/Images/DR-SVG-SPE/site-v2-reassurance-livraison-svg5e04f410.svg" alt="Frais de livraison" loading="lazy"></span>
                                </div>
                                <div class="reassurance-bloc_text">
 Livraison offerte<br><small>(sous conditions)</small>
                           </div>
                            </a>
                        </div>
                        </div>
                        </div>
                        </footer>


                        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
              

{# {{ dump(produit) }} #}
{% endblock %}